.login-container {
    width: 300px;
    margin: 0 auto;
}

.login-title {
    text-align: center;
}

.login-form {
    margin-bottom: 10px;
}

.login-label {
    display: block;
    margin-bottom: 5px;
}

.login-input {
    width: 100%;
    padding: 5px;
}

.login-button {
    display: block;
    margin: 0 auto;
}

.login-register {
    text-align: center;
}